<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VideoTransmitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VideoTransmitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <appender name="Main" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${LOCALAPPDATA}\\UGCS\video-transmitter\logs\log-%date{yyyy-MM-dd_HH-mm-ss}.txt" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <maximumFileSize value="1GB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} %-5level %-18logger %message%newline" />
      </layout>
    </appender>
    <appender name="Debug" type="log4net.Appender.DebugAppender">
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} %-5level %-18logger %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Info" />
      <appender-ref ref="Main" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VideoTransmitter.Properties.Settings>
      <setting name="UgcsAutomatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UcgsAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UcgsPort" serializeAs="String">
        <value>3334</value>
      </setting>
      <setting name="VideoServerAutomatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VideoServerAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoServerPort" serializeAs="String">
        <value>3341</value>
      </setting>
      <setting name="TailNumber" serializeAs="String">
        <value>UgCS video transmitter</value>
      </setting>
      <setting name="LastCapureDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="LastVehicleId" serializeAs="String">
        <value />
      </setting>
      <setting name="InstallationId" serializeAs="String">
        <value />
      </setting>
      <setting name="BitrateAutomatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Bitrate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="HardwareDecodingEnable" serializeAs="String">
        <value>False</value>
      </setting>
    </VideoTransmitter.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <VideoTransmitter.Properties.Settings>
      <setting name="CurrentUICulture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </VideoTransmitter.Properties.Settings>
  </applicationSettings>
</configuration>